[submodule "docs/gedcomx"]
	path = docs/gedcomx
	url = https://github.com/FamilySearch/gedcomx.git
[submodule "docs/gedcomx-rest"]
	path = docs/gedcomx-rest
	url = https://github.com/FamilySearch/gedcomx-rs.git
